<div style="margin: 20%;">
  <h3>Log in</h3>
  <br>

  <% if flash[:login_error] %>
    <div class="alert alert-danger" role="alert">
      <strong>Error: </strong> <%= flash[:login_error] %>
    </div>
  <% end %>

  <form action="/users/login" method="post">
    <fieldset class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username"
             placeholder="Enter username">
    </fieldset>
    <fieldset class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password"
             placeholder="Enter password">
    </fieldset>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>
